@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  position: relative;
}

header {

  //.navbar-fixed-top {
  //  position: fixed;
  //  right: 0;
  //  left: 0;
  //  z-index: 1030;
  //}
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}